:root{
    --height-img: 2661px;
}
body {
    background-image: url("../../resources/img/bcg.jpg");
    width: vwmax;
    height: var(--height-img);
    font-family: Montserrat;
    background-position: center;
}
.header-nav {
    justify-content: center;
    align-items: center;
    box-shadow: none;
    margin-right: 4vw;

}
.header-nav_button {
    font-weight: 300;
    margin-right: 1vw;
    margin-left: 1vw;
    color: #ffffff;
    font-size: 3vh;
}
.ovl {
    text-decoration: overline;
}