.main-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2vh;
    padding-top: 15vh;
    background-image: url('../../resources/img/ico.png');
    background-size: 12%;
    background-position: center;
    background-repeat: no-repeat;
    color:#ffffff;
    padding-bottom: 12vh;
    margin-left: 4vw;
    margin-right: 5vw;
}
.company-name {
    font-size: 8vh;
    font-weight: 700;
    letter-spacing: 5vh;
    margin-bottom: 2vh;
    text-transform: uppercase;
}
.company-surname {
    font-weight: 400;
    letter-spacing: 2vh;
}
.workplace {
    margin-right: 4vw;
    font-size: 4vh;
    font-weight: 300;
    letter-spacing: 4px;
}
.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}