:root{
    --height-img: 2661px;
}
body {
    background-image: url("../img/bcg.jpg");
    width: vwmax;
    height: var(--height-img);
}
.header-nav {
    justify-content: center;
    align-items: center;
    box-shadow: none;
}
.header-nav_button {
    margin-right: 50px;
    margin-left: 50px;
    color: #ffffff;
    font-family: Kirvy;
    font-size: 54px;
}